/* FLEXBOX FROGGY
Ajude as rãs encontrar seus lilypads usando flex-direction, justify-contente align-items. */

#pond {
  display: flex;
flex-direction: row-reverse;
justify-content:center;
align-items: flex-end
}