/* FLEXBOX FROGGY
Ah não! Os sapos são todos espremidos em uma única fileira de nenúfares. Distribua-os usando a flex-wrappropriedade, que aceita os seguintes valores:

nowrap: Cada item é adequado a uma única linha.
wrap: Os itens são agrupados em linhas adicionais.
wrap-reverse: Os itens são agrupados em linhas adicionais ao contrário. */

#pond {
  display: flex;
flex-wrap: wrap
}