/* FLEXBOX FROGGY
Ajude este exército de sapos a formar três colunas ordenadas usando uma combinação de flex-directione flex-wrap. */

#pond {
  display: flex;
flex-direction: column;
flex-wrap: wrap
}