
h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
    text-align: center;
    
     }

  body {
    font-size: 16px;
    
  }
  
  p {
    font-weight: 600;
    font-size: 3em;
    text-decoration: underline;
    text-decoration-color: blueviolet;
    
  }

  ul {
    background-color: papayawhip;
    font-style:oblique;
    line-height: 2em;
  }

  .generic {
    background-color: peachpuff;
  }

  #amarelo {
    background-color: yellow ;
  }

  #vermelho {
    background-color: red ;
  }

  #marrom {
    background-color: brown ;
  }